
.bannerbox{ position:relative; width:1180px;height:427px; margin-top:20px;}
.banner { HEIGHT:427px;}
.banner DIV { POSITION: absolute; HEIGHT: 427px;}
.banner .smask { Z-INDEX: -1;}
.bannerNav { DISPLAY: block; OVERFLOW: hidden; WIDTH: 81px; HEIGHT: 8px; position: absolute; bottom:20px; right: 550px; z-index: 1; }
.bannerNav LI { DISPLAY: block; FLOAT: left; WIDTH: 15px; CURSOR: pointer; HEIGHT: 8px; TEXT-ALIGN: center; margin-left:5px; background: #666; color: #fff;}
.bannerNav .current01 { BACKGROUND: #ff6600;}

.video *{ float:left;}
.video .line1,.video .line2{ width:310px; height:1px; background-color:#999; margin-top:56px;}
.video .line1{ margin-left:210px;}
.video h1{ font-size:26px; padding-top:40px; padding-left:14px; padding-right:14px;  font-size:20px; color:#3c3c3e; font-family:'微软雅黑'; font-weight:bold; }
.videobox .text{ font-size:12px;color:#999; clear:left; text-align:center; display:block; padding-top:20px;}
	
.main{ margin-top:40px;}
.main01{ width:377px; margin-left:5px; margin-right:5px; border:solid 3px #e1e1e1; float:left;}
.main01 *{ float:left;}
.main01 h1{ font-size:18px; font-family:"微软雅黑"; line-height:36px;margin-left:10px; }
.main01 p{ font-size:12px; color:#999; font-family:"微软雅黑"; display:block; line-height:24px;margin-left:10px; }
.morebox{ margin-left:200px;}
.morebox a{ font-family:Arial; font-size:12px; color:white;clear:left; float:right; width:92px; line-height:40px; border:solid 1px #238bcb; border-radius:4px; background-color:#3d9fe1;color:white; text-align:center;}
.main01 a:hover{ color:#f26522;}		
		
.bigbox{ overflow:hidden}
.showbox{ height:410px; margin-top:10px; }
.imgboxB{ float:left;height:392px; margin:15px;}
.imgboxB img{ border:solid 3px #e1e1e1; padding:15px;}

.message-box{ border:solid 2px #e1e1e1;margin-top:40px; margin-bottom:40px;}
.message-box tr,td{ text-align:center; color:black; line-height:30px; border-bottom:1px solid #e1e1e1; cursor:pointer;}

.message-box .th1{ background-color:#ccc; color:#000; border:solid 1px #e1e1e1;}
.message-box img{ padding-bottom:20px;}