<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>尚兴国术馆形意拳学习网站-常识</title>

</head>
<link href="../css/viewCss/common.css" rel="stylesheet">
<link href="../css/viewCss/changshi.css" rel="stylesheet">
<script src="../js/viewjs/jquery.js"></script>
<script type="text/javascript">jQuery(".lanmubox").slide({easing:"easeOutBounce",delayTime:400});</script>
<style>
</style>
<body>
<!--返回-->
<div class="back"><a>回到顶部</a></div>
<!--顶部-->
<div class="headerbox">
	<div class="header overflowH">
    	<div class="headerleft">欢迎您来到尚兴国术馆形意拳学习网！</div>
        <div class="headerright">
        	<a class="orange"href="">登录<span class="line">|</span></a>
            <a class="blue register" href="">注册<span class="line">|</span></a>
            <a href="">公众号<span class="line">|</span></a>
            <a class="blue"href="">关于我们&nbsp;&nbsp;</a>
            <img src="../images/viewimages/common/phone.png">
            <a class="orange">18701658769</a>
        </div>
    </div>
</div>
<!--Logo-->
<div class="nav">
	<div class="navbox overflowH">
		<div class="logo">
        	<img src="../images/viewimages/common/logo01.png">
        </div>
    	<div class="rightnav">
        	<a href="index.html">首页</a>
            <a class="current" href="changshi.html">形意拳常识</a>
            <a href="video.html">形意拳视频</a>
            <a href="video.html">形意拳教程</a>
            <a href="introduce.html">场馆介绍</a>
            <a href="news.html">新闻动态</a>
            <a href="content.html">联系我们</a>
            <a href="message.html">信息留言</a>
        </div>
       </div>
</div>
<!--content start-->
<div class="content">
         <div class="left" id="c_left">
           	<div class="article_tuijian">
           		<h2>文章<span>推荐</span></h2>
           	</div>
             <div class="content_text">
               <div class="wz">
                <h3><a href="#" title="浅谈：学习形意拳的好处">浅谈：学习形意拳的好处</a></h3>
                 <dl>
                   <dt><img src="../images/viewimages/changshi_image/s.jpg" width="200"  height="123" alt=""></dt>
                   <dd>
                     <p class="dd_text_1"> 形意拳作为一种古老的传统拳术，不仅具有很高的技击价值；同时，在促进人体健康、协调人体身心发展方面亦有着自身独特的功效。本文旨在结合形意拳本身所具有的动作特点、练法要求和技法原理等方面来阐述它在促进人体身心健康发展方面的价值所在。</p>
                   <p class="dd_text_2">
                       <span class="left author">段亮</span>
                       <span class="left sj">时间:2014-8-9</span>
                       <span class="left yd"><a href="#" title="阅读全文">阅读全文</a></span>
                        <div class="clear"></div>
                   </p>
                   </dd>
                   <div class="clear"></div>
                 </dl>
                 </div>
            </div>
            <div class="content_text">
               <div class="wz">
                <h3><a href="#" title="浅谈：学习形意拳的好处">浅谈：学习形意拳的好处</a></h3>
                 <dl>
                   <dt><img src="../images/viewimages/changshi_image/s.jpg" width="200"  height="123" alt=""></dt>
                   <dd>
                     <p class="dd_text_1"> 形意拳作为一种古老的传统拳术，不仅具有很高的技击价值；同时，在促进人体健康、协调人体身心发展方面亦有着自身独特的功效。本文旨在结合形意拳本身所具有的动作特点、练法要求和技法原理等方面来阐述它在促进人体身心健康发展方面的价值所在。</p>
                   <p class="dd_text_2">
                       <span class="left author">段亮</span>
                       <span class="left sj">时间:2014-8-9</span>
                       <span class="left yd"><a href="#" title="阅读全文">阅读全文</a></span>
                        <div class="clear"></div>
                   </p>
                   </dd>
                   <div class="clear"></div>
                 </dl>
                 </div>
            </div>
             <div class="content_text">
               <div class="wz">
                <h3><a href="#" title="浅谈：学习形意拳的好处">浅谈：学习形意拳的好处</a></h3>
                 <dl>
                   <dt><img src="../images/viewimages/changshi_image/s1.jpg" width="200"  height="123" alt=""></dt>
                   <dd>
                     <p class="dd_text_1"> 形意拳作为一种古老的传统拳术，不仅具有很高的技击价值；同时，在促进人体健康、协调人体身心发展方面亦有着自身独特的功效。本文旨在结合形意拳本身所具有的动作特点、练法要求和技法原理等方面来阐述它在促进人体身心健康发展方面的价值所在。</p>
                   <p class="dd_text_2">
                       <span class="left author">段亮</span>
                       <span class="left sj">时间:2014-8-9</span>
                       <span class="left yd"><a href="#" title="阅读全文">阅读全文</a></span>
                        <div class="clear"></div>
                   </p>
                   </dd>
                   <div class="clear"></div>
                 </dl>
                 </div>
            </div>
            <div class="content_text">
               <div class="wz">
                <h3><a href="#" title="浅谈：学习形意拳的好处">浅谈：学习形意拳的好处</a></h3>
                 <dl>
                   <dt><img src="../images/viewimages/changshi_image/s2.jpg" width="200"  height="123" alt=""></dt>
                   <dd>
                     <p class="dd_text_1"> 形意拳作为一种古老的传统拳术，不仅具有很高的技击价值；同时，在促进人体健康、协调人体身心发展方面亦有着自身独特的功效。本文旨在结合形意拳本身所具有的动作特点、练法要求和技法原理等方面来阐述它在促进人体身心健康发展方面的价值所在。</p>
                   <p class="dd_text_2">
                       <span class="left author">段亮</span>
                       <span class="left sj">时间:2014-8-9</span>
                       <span class="left yd"><a href="#" title="阅读全文">阅读全文</a></span>
                        <div class="clear"></div>
                   </p>
                   </dd>
                   <div class="clear"></div>
                 </dl>
                 </div>
            </div>
                        <div class="content_text">
               <div class="wz">
                <h3><a href="#" title="浅谈：学习形意拳的好处">浅谈：学习形意拳的好处</a></h3>
                 <dl>
                   <dt><img src="../images/viewimages/changshi_image/s3.jpg" width="200"  height="123" alt=""></dt>
                   <dd>
                     <p class="dd_text_1"> 形意拳作为一种古老的传统拳术，不仅具有很高的技击价值；同时，在促进人体健康、协调人体身心发展方面亦有着自身独特的功效。本文旨在结合形意拳本身所具有的动作特点、练法要求和技法原理等方面来阐述它在促进人体身心健康发展方面的价值所在。</p>
                   <p class="dd_text_2">
                       <span class="left author">段亮</span>
                       <span class="left sj">时间:2014-8-9</span>
                       <span class="left yd"><a href="#" title="阅读全文">阅读全文</a></span>
                        <div class="clear"></div>
                   </p>
                   </dd>
                   <div class="clear"></div>
                 </dl>
                 </div>
            </div>
          </div>
         <div class="right" id="c_right">
         	<ul><li><img src="../images/viewimages/changshi_image/wushu01.png" alt=""></li> </ul>
         	<ul><li><img src="../images/viewimages/changshi_image/wushu01.png" alt=""></li> </ul>
            <ul><li><img src="../images/viewimages/changshi_image/wushu01.png" alt=""></li> </ul>
            <ul><li><img src="../images/viewimages/changshi_image/wushu01.png" alt=""></li> </ul>
         </div>
    </div>
</div>
<!--footer-->
<div class="footer">
	<div class="footerbox overflowH">
    	<div class="copyright"><h1>COPYRIGHT&nbsp;&copy;&nbsp;2008-2014&nbsp;尚兴国术馆(shangxing.com)&nbsp;ALL&nbsp;RIGHTS&nbsp;RESERVED</h1></div>
    </div>
</div>
<script>
jQuery(function($){
	var index = 0;
	var maximg = 4;

	//滑动导航改变内容	
	$(".bannerNav li").hover(function(){
		if(MyTime){
			clearInterval(MyTime);
		}
		index  =  $(".bannerNav li").index(this);
		MyTime = setTimeout(function(){
		ShowjQueryFlash(index);
		$('.banner').stop();
		} , 400);

	}, function(){
		clearInterval(MyTime);
		MyTime = setInterval(function(){
		ShowjQueryFlash(index);
		index++;
		if(index==maximg){index=0;}
		} , 3000);
	});
	//滑入 停止动画，滑出开始动画.
	 $('.banner').hover(function(){
			  if(MyTime){
				 clearInterval(MyTime);
			  }
	 },function(){
				MyTime = setInterval(function(){
				ShowjQueryFlash(index);
				index++;
				if(index==maximg){index=0;}
			  } , 3000);
	 });
	//自动播放
	var MyTime = setInterval(function(){
		ShowjQueryFlash(index);
		index++;
		if(index==maximg){index=0;}
	} , 3000);
});
function ShowjQueryFlash(i) {
$(".banner div").eq(i).animate({opacity: 1},1000).css({"z-index": "1"}).siblings().animate({opacity: 0},1000).css({"z-index": "0"});
$(".bannerNav li").eq(i).addClass("current01").siblings().removeClass("current01");
}
var t = setInterval(
function(){
	$(".bigbox .showbox").animate({marginLeft:-293},1500,/*1000是滚动时间，2000是持续时间*/
function(){
	$(".showbox  .imgboxB:last").after($(".showbox .imgboxB:first"));
	$(".bigbox .showbox").css({marginLeft:0});

	})
	},2000)
$(".bigbox").mouseenter(
function(){
	clearInterval(t);
	
	}
).mouseleave(
function(){
	      t = setInterval(
function(){
	$(".bigbox .showbox").animate({marginLeft:-293},1500,/*1000是持续时间，3000是滚动时间*/
function(){
	$(".showbox .imgboxB:last").after($(".showbox .imgboxB:first"));
	$(".bigbox .showbox").css({marginLeft:0});
	})
	},2000)
	}
)
$(".back").click(
	function(){
		$(document).scrollTop(0);
		}
)
$(".sweep").hide();
$(".connect01other").mouseenter(
	function(){
		$(".sweep").fadeIn()
		}
)
$(".connect01other").mouseleave(
	function(){
	$(".sweep").fadeOut();
	})

</script>

</body>
</html>

