<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>尚兴国术馆形意拳学习网站</title>
</head>
<link href="../css/viewCss/common.css" rel="stylesheet" />
<link href="../css/viewCss/index.css" rel="stylesheet" />
<style>
</style>
<body>
<!--返回-->
<div class="back"><a>回到顶部</a></div>
<!--顶部-->
<div class="headerbox">
	<div class="header overflowH">
    	<div class="headerleft">欢迎您来到尚兴国术馆形意拳学习网！</div>
        <div class="headerright">
        	<!-- <a class="orange" href="">登录<span class="line">|</span></a>
            <a class="blue register" href="">注册<span class="line">|</span></a> -->
            <a href="">公众号<span class="line">|</span></a>
            <a class="blue" href="">关于我们&nbsp;&nbsp;</a>
            <img src="../images/viewimages/common/phone.png"></img>
            <a class="orange">18701658769</a>
        </div>
    </div>
</div>
<!--Logo-->
<div class="nav">
	<div class="navbox overflowH">
		<div class="logo">
        	<img src="/images/viewimages/common/logo01.png" />
        </div>
    	<div class="rightnav">
        	<a class="current" href="index.html">首页</a>
            <a href="changshi.html">形意拳常识</a>
            <a href="video.html">形意拳视频</a>
            <a href="video.html">形意拳教程</a>
            <a href="introduce.html">场馆介绍</a>
            <a href="news.html">新闻动态</a>
            <a href="content.html">联系我们</a>
            <a href="message.html">信息留言</a>
        </div>
       </div>
</div>
<!--banner-->
<div class="bannerbox">
<div class="banner overflowH">
      <div><img src="../images/viewimages/index_image/banner01.png" /></div>
      <div class="smask"><img src="../images/viewimages/index_image/banner02.png" /></div>
      <div class="smask"><img src="../images/viewimages/index_image/banner03.png" /></div>
      <div class="smask"><img src="../images/viewimages/index_image/banner04.png" /></div>
    </div>
    <ul class="bannerNav">
      <li class="current01"></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
</div>
<!--video show-->
<div class="videobox ">
	<div class="video overflowH">
    	<div class="line1"></div>
        <h1>视频展示</h1>
        <div class="line2"></div>
    </div>
    <span class="text">形意拳是一门学问，是一门高深的文化艺术，只有聪慧绝顶、愿意付出大部分精力的爱好者，才会真正体会到她的美妙。</span>
</div>
<div class="mainbox">
	<div class="main overflowH">
    	<div class="main01 overflowH">
        <a href=""><img src="../images/viewimages/index_image/photo01.png" /></a>
			<h1>表演者：那云开</h1>
            <p>简单介绍：形意拳是一门学问，是一门高深的文化艺术，只有聪慧绝顶、愿意付出大部分精力的爱好者，才会真正体会到她的美妙。</p>
            <p style="padding-top:5px;">2015/10/21</p>
            <div class="morebox current"><a href="">MORE</a></div>
        </div>
        <div class="main01 overflowH">
   	    <a href=""><img src="../images/viewimages/index_image/photo02.png" /></a>
        	<h1>表演者：那云开</h1>
            <p>简单介绍：形意拳是一门学问，是一门高深的文化艺术，只有聪慧绝顶、愿意付出大部分精力的爱好者，才会真正体会到她的美妙。</p>
            <p style="padding-top:5px;">2015/10/21</p>
            <div class="morebox"><a href="">MORE</a></div>
        </div>
        <div class="main01 overflowH">
        	<a href=""><img src="../images/viewimages/index_image/photo03.png" /></a>
        	<h1>表演者：那云开</h1>
            <p>简单介绍：形意拳是一门学问，是一门高深的文化艺术，只有聪慧绝顶、愿意付出大部分精力的爱好者，才会真正体会到她的美妙。</p>
            <p style="padding-top:5px;">2015/10/21</p>
            <div class="morebox"><a href="">MORE</a></div>
        </div>
    </div>
</div>
<div class="mainbox">
	<div class="main overflowH">
    	<div class="main01 overflowH">
        <a href=""><img src="../images/viewimages/index_image/photo01.png" /></a>
			<h1>表演者：那云开</h1>
            <p>简单介绍：形意拳是一门学问，是一门高深的文化艺术，只有聪慧绝顶、愿意付出大部分精力的爱好者，才会真正体会到她的美妙。</p>
            <p style="padding-top:5px;">2015/10/21</p>
            <div class="morebox current"><a href="">MORE</a></div>
        </div>
        <div class="main01 overflowH">
   	    <a href=""><img src="../images/viewimages/index_image/photo02.png" /></a>
        	<h1>表演者：那云开</h1>
            <p>简单介绍：形意拳是一门学问，是一门高深的文化艺术，只有聪慧绝顶、愿意付出大部分精力的爱好者，才会真正体会到她的美妙。</p>
            <p style="padding-top:5px;">2015/10/21</p>
            <div class="morebox"><a href="">MORE</a></div>
        </div>
        <div class="main01 overflowH">
        	<a href=""><img src="../images/viewimages/index_image/photo03.png" /></a>
        	<h1>表演者：那云开</h1>
            <p>简单介绍：形意拳是一门学问，是一门高深的文化艺术，只有聪慧绝顶、愿意付出大部分精力的爱好者，才会真正体会到她的美妙。</p>
            <p style="padding-top:5px;">2015/10/21</p>
            <div class="morebox"><a href="">MORE</a></div>
        </div>
    </div>
</div>
<!--introduce-->
<div class="videobox overflowH">
	<div class="video">
    	<div class="line1"></div>
        <h1>场馆介绍</h1>
        <div class="line2"></div>
    </div>
    <span class="text">逆水行舟用力撑,一篙松劲退千寻。</span>
</div>
<div class="bigbox">
        <div class="showbox overflowH">
        	<div class="imgboxB"><img src="../images/viewimages/index_image/pic_01.png" /></div>
            <div class="imgboxB"><img src="../images/viewimages/index_image/pic_02.png" /></div>
            <div class="imgboxB"><img src="../images/viewimages/index_image/pic_03.png" /></div>
            <div class="imgboxB"><img src="../images/viewimages/index_image/pic_04.png" /></div>
            <div class="imgboxB"><img src="../images/viewimages/index_image/pic_05.png" /></div>
            <div class="imgboxB"><img src="../images/viewimages/index_image/pic_06.png" /></div>
            <div class="imgboxB"><img src="../images/viewimages/index_image/pic_07.png" /></div>
            <div class="imgboxB"><img src="../images/viewimages/index_image/pic_08.png" /></div>
         </div>
</div>
<!--about-->
<div class="us">
	<div class="usbox overflowH">
		<div class="text">
			<h1>联系我们</h1>
			<p>
				武术一途，非同其他，真功夫凭苦练而得，真技击凭实战而得，诸君应不畏世俗之语，不畏一颜之得失，多与前辈、同侪请教、切磋，以印证一己之感悟。<br/>
				"三人同行必有我师"，不卑不亢，谦恭有礼，学而不厌，方是正途。<br/>
				纸上谈兵，终归在"纸上"，崇文尚武，苦练兴邦。
			</p>
		</div>
	<div class="connect">
    		<div class="connect01">
     			<div class="connectpic"><img src="../images/viewimages/common/us01.png" /></div>
     			<div class="connecttext">
      				<h1>电话</h1>
      				<a>18701658769</a>
     			</div>
   			</div>
            <div class="connect01">
                    <div class="connectpic"><img src="../images/viewimages/common/us02.png" /></div>
                    <div class="connecttext">
                        <h1>邮箱</h1>
                        <a>mons@mons.com.cn</a>
                    </div>
            </div>
      	    <div class="connect01other">
            	<div class="connectpic"><img src="../images/viewimages/common/us03.png" /></div>
            		<div class="connecttext">
            			<h1>鼠标轻移扫一扫</h1>
            			<a>18701658769</a>
            		</div>
        	</div>
 	 </div>
 </div>
</div>
<!--footer-->
<div class="footer">
	<div class="footerbox overflowH">
    	<div class="copyright"><h1>COPYRIGHT&nbsp;&copy;&nbsp;2008-2014&nbsp;尚兴国术馆(shangxing.com)&nbsp;ALL&nbsp;RIGHTS&nbsp;RESERVED</h1></div>
    </div>
</div>
<!--公众号-->
<div class="sweep">
<img src="../images/viewimages/common/sao.png" />
<form class="font1">扫&nbsp;一&nbsp;扫</form>
<form class="font2 margin4">添加形意拳微信公众号</form>
</div>
<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.js"></script>
<script>
jQuery(function($){
	var index = 0;
	var maximg = 4;

	//滑动导航改变内容	
	$(".bannerNav li").hover(function(){
		if(MyTime){
			clearInterval(MyTime);
		}
		index  =  $(".bannerNav li").index(this);
		MyTime = setTimeout(function(){
		ShowjQueryFlash(index);
		$('.banner').stop();
		} , 400);

	}, function(){
		clearInterval(MyTime);
		MyTime = setInterval(function(){
		ShowjQueryFlash(index);
		index++;
		if(index==maximg){index=0;}
		} , 3000);
	});
	//滑入 停止动画，滑出开始动画.
	 $('.banner').hover(function(){
			  if(MyTime){
				 clearInterval(MyTime);
			  }
	 },function(){
				MyTime = setInterval(function(){
				ShowjQueryFlash(index);
				index++;
				if(index==maximg){index=0;}
			  } , 3000);
	 });
	//自动播放
	var MyTime = setInterval(function(){
		ShowjQueryFlash(index);
		index++;
		if(index==maximg){index=0;}
	} , 3000);
});
function ShowjQueryFlash(i) {
$(".banner div").eq(i).animate({opacity: 1},1000).css({"z-index": "1"}).siblings().animate({opacity: 0},1000).css({"z-index": "0"});
$(".bannerNav li").eq(i).addClass("current01").siblings().removeClass("current01");
}
var t = setInterval(
function(){
	$(".bigbox .showbox").animate({marginLeft:-293},1500,/*1000是滚动时间，2000是持续时间*/
function(){
	$(".showbox  .imgboxB:last").after($(".showbox .imgboxB:first"));
	$(".bigbox .showbox").css({marginLeft:0});

	})
	},2000)
$(".bigbox").mouseenter(
function(){
	clearInterval(t);
	
	}
).mouseleave(
function(){
	      t = setInterval(
function(){
	$(".bigbox .showbox").animate({marginLeft:-293},1500,/*1000是持续时间，3000是滚动时间*/
function(){
	$(".showbox .imgboxB:last").after($(".showbox .imgboxB:first"));
	$(".bigbox .showbox").css({marginLeft:0});
	})
	},2000)
	}
)
$(".back").click(
	function(){
		$(document).scrollTop(0);
		}
)
$(".sweep").hide();
$(".connect01other").mouseenter(
	function(){
		$(".sweep").fadeIn()
		}
)
$(".connect01other").mouseleave(
	function(){
	$(".sweep").fadeOut();
	})

</script>
</body>
</html>
