<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>尚兴国术馆形意拳学习网站-新闻动态</title>
</head>
<link href="../css/viewCss/common.css" rel="stylesheet">
<link href="../css/viewCss/index.css" rel="stylesheet">
<link href="../css/viewCss/news.css" rel="stylesheet">
<body>
<!--返回-->
<div class="back"><a>回到顶部</a></div>
<!--顶部-->
<div class="headerbox">
	<div class="header overflowH">
    	<div class="headerleft">欢迎您来到尚兴国术馆形意拳学习网！</div>
        <div class="headerright">
        	<a class="orange"href="">登录<span class="line">|</span></a>
            <a class="blue register" href="">注册<span class="line">|</span></a>
            <a href="">公众号<span class="line">|</span></a>
            <a class="blue"href="">关于我们&nbsp;&nbsp;</a>
            <img src="../images/viewimages/common/phone.png">
            <a class="orange">18701658769</a>
        </div>
    </div>
</div>
<!--Logo-->
<div class="nav">
	<div class="navbox overflowH">
		<div class="logo">
        	<img src="../images/viewimages/common/logo01.png">
        </div>
    	<div class="rightnav">
        	<a href="index.html">首页</a>
            <a href="changshi.html">形意拳常识</a>
            <a href="video.html">形意拳视频</a>
            <a href="video.html">形意拳教程</a>
            <a href="introduce.html">场馆介绍</a>
            <a class="current"href="news.html">新闻动态</a>
            <a href="content.html">联系我们</a>
            <a href="message.html">信息留言</a>
        </div>
       </div>
</div>

<div class="newsbox">
	<img src="../images/viewimages/news_image/bar.png" />
    <img src="../images/viewimages/news_image/002.png" width="1003"/>
    <ul class="news_list_b">
      <li><span>2014-06-01</span> <a href="text.html" title="高房价下的10类“中国式蜗居” ">高房价下的10类“中国式蜗居” </a></li>
      <li><span>2014-06-01</span><a href="text.html" title="国土资源部：26宗闲置土地曝光 最长达18年">国土资源部：26宗闲置土地曝光 最长达18年 </a></li>
      <li><span>2014-05-30</span><a href="text.html" title="上海囤地企业喊冤：闲置地块已建楼盘">上海囤地企业喊冤：闲置地块已建楼盘</a></li>
      <li><span>2014-05-28</span><a href="text.html" title="发改委：首11月房地产开发投资增长36.5%">发改委：首11月房地产开发投资增长36.5% </a></li>
      <li><span>2014-05-30</span><a href="text.html" title="上海传房产税即将出台 二手房赶集过户">上海传房产税即将出台 二手房赶集过户 </a></li>
      <li><span>2014-06-01</span> <a href="text.html" title="高房价下的10类“中国式蜗居” ">高房价下的10类“中国式蜗居” </a></li>
      <li><span>2014-06-01</span><a href="text.html" title="国土资源部：26宗闲置土地曝光 最长达18年">国土资源部：26宗闲置土地曝光 最长达18年 </a></li>
      <li><span>2014-05-30</span><a href="text.html" title="上海囤地企业喊冤：闲置地块已建楼盘">上海囤地企业喊冤：闲置地块已建楼盘</a></li>
      <li><span>2014-05-28</span><a href="text.html" title="发改委：首11月房地产开发投资增长36.5%">发改委：首11月房地产开发投资增长36.5% </a></li>
      <li><span>2014-05-30</span><a href="text.html" title="上海传房产税即将出台 二手房赶集过户">上海传房产税即将出台 二手房赶集过户 </a></li>
    </ul>
    <img src="../images/viewimages/news_image/002.png" width="1003"/>
    <div class="page-normal overflowH">
                    <span class="page-prev">&lt;</span>
                    <span class="page-current">1</span>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <a href="#">5</a>
                    <a href="#">6</a>
                    <a href="#">7</a>
                    
                    <a href="#">199</a>
                    <a href="#">200</a>
                    <a href="#" class="page-next">&gt;</a>
     </div>
</div>
<!--footer-->
<div class="footer">
	<div class="footerbox overflowH">
    	<div class="copyright"><h1>COPYRIGHT&nbsp;&copy;&nbsp;2008-2014&nbsp;尚兴国术馆(shangxing.com)&nbsp;ALL&nbsp;RIGHTS&nbsp;RESERVED</h1></div>
    </div>
</div>
</body>
</html>
